//Type style
.default {
    color: white;
    background-color: transparent;
    border: none;
    border-radius: 5px;

    &:hover {
        background-color: rgba(0, 0, 0, 0.1);
        color: rgb(207, 207, 207);
    }
}

.primary {
    color: white;
    background-color: #7289da;
    border: 1px solid transparent;
    border-radius: 5px;

    &:hover {
        background-color: #475485;
    }
}

.submit {
    color: white;
    background-color: #10ca7c;
    border: 1px solid transparent;
    border-radius: 5px;

    &:hover {
        background-color: #0caa68;
    }
}

// Size style

.small {
    padding: 0 16px;
    font-size: 1em;
}

.normal {
    padding: 8px 16px;
    font-size: 1em;
}

.large {
    padding: 8px 32px;
    font-size: 1.5em;
    font-weight: bold;
}

// Activity style

.enable {
    cursor: pointer;
}

.disable {
    cursor: not-allowed;
    background-color: #475485;
}
